*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    max-width: 100%;
    height: 635px;
    background: #F0F2F5;
}
.first-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-bannertext{
    width: 60%;
    height: 400px;
    margin: 110px 30px 35px 80px;
}
.first-bannertext h1{
    font-size: 70px;
    color: #1877F2;
    padding: 60px 70px 0px 50px;
}
.first-bannertext p{
    font-size: 30px;
    color: #1C1E21;
    margin: 0px 0px 0px 50px;
}
.first-bannerform{
    height: 500px;
    margin: 80px 130px 35px 20px;
    position: relative;
}
.first-banner form{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background: #ffff;
    margin: 50px 50px 50px 50px;
    box-shadow: 0px 0px 15px #80808033;
}
input{
    width: 360px;
    height: 30px;
    margin: 10px 10px 0px 10px;
    padding: 8px;
    border: 1px solid #80808048;
    border-radius: 8px;
    outline: none;
}
.first-inp{
    margin-top: 25px;
}
button{
    width: 375px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    margin: 18px 10px 0px 12px;
    background: #1877F2;
    border: 1px solid #1877F2;
    color: #ffffff;
    border-radius: 10px;
    outline: none;
}
.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 40px;
    text-decoration: none;
    margin: 15px 10px 0px 15px;
    border-bottom: 1px solid #80808048;
    color: #1877F2;
}
.forgot a:visited{
    color: #1877F2;
}
.account{
    width: 200px;
    height: 50px;
    margin: 5px 10px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42B72A;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    color: #ffffff;
}
.account a:visited{
    color: #ffffff;
}
.new-page{
    position: absolute;
    right: 75px;
    top: 430px;
}

.z-index{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
}
.box1{
    width: 320px;
    height: 200px;
    background: #ae00ff69;
    color: #ffffff;
    margin: 20px;
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 3;
}
.box2{
    width: 400px;
    height: 200px;
    background: #ff990085;
    color: #ffffff;
    margin: 20px;
    position: absolute;
    top: 100px;
    left: 130px;
    z-index: 1;
}
.box3{
    width: 500px;
    height: 200px;
    background: #0059ff9a;
    color: #ffffff;
    margin: 20px;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
}